
[Unit]
Description=Run net-watch every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=net-watch.service

[Install]
WantedBy=timers.target
